body {
  margin: 5%;
  padding:0;
  text-align: center;
  align-content: center;
}

.content {
  margin: 5%;
  padding:0;
  text-align: center;
  align-content: center;
}

h1, h2, h3, h4, h5, h6, p {
  color: black;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: darkslategray;
}

/* mouse over link */
a:hover {
  color: darkorange;
}

/* selected link */
a:active {
  color: darkorange;
  text-decoration: underline;
}
